body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  max-width: 200px;
  padding: 1rem;
  text-align: center;
  background: white;
  border-radius: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
  color: #222
}

.cardImg {
  overflow: hidden;
}

.cardImg > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-image > img {
  transform: scale(1.025);
}

.cardName {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding: .5rem;
}
 .counter {
  margin-top: 2rem;
  margin-left: 3rem;
  text-align: left;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 1.1rem;
  font-weight: bold;
 }
